.anim-div{
    background-color: burlywood;
    display: inline-flex;
    margin-left: -20px;
    width: 120%;
    justify-content: center;
}
p{
    margin: 10px;
    padding: 22px;
}

.p1{
    background-color: aquamarine;
    color: red;
    width: 5px;
    margin-left: -0.5px;
    border-radius: 15px;
    animation: anim1 5s infinite ease alternate-reverse;
}
.p2{
    background-color: green;
    color: yellow;
    width: 5px;
    margin-left: -5.5px;
    border-radius: 15px;
    animation: anim2 5s infinite ease alternate-reverse;
}
.p3{
    background-color: brown;
    color: rgb(94, 88, 88);
    width: 5px;
    margin-left: -5.5px;
    border-radius: 15px;
    animation: anim3 5s infinite ease alternate-reverse;
}
.p4{
    background-color: peru;
    color: pink;
    width: 5px;
    margin-left: -5.5px;
    border-radius: 15px;
    animation: anim4 5s infinite ease alternate-reverse;
}
.p5{
    background-color: purple;
    color: orange;
    width: 5px;
    margin-left: -5.5px;
    border-radius: 15px;
    animation: anim5 5s infinite ease alternate-reverse;
}
.p6{
    background-color: chartreuse;
    color: grey;
    width: 5px;
    margin-left: -5.5px;
    border-radius: 15px;
    animation: anim6 5s infinite ease alternate-reverse;
}

.div1{
    background-color: rgba(167, 173, 173, 0.507);
    height: 80px;
    width: 180px;
    margin-left: 30%;
    transition: 2s ease;
    font-weight: bolder;
    color: rgb(83, 71, 31);
    display: flex;
    align-items: center;
    justify-content: center;
}
.div1:active{
    background-color: rgba(233, 145, 86, 0.507);
    border-radius: 50%;
    transition: 0.5s ease;
}

@keyframes anim1{
    100%{
        color: white;
        rotate: 360deg;
        
        margin-top: 150px;
    }
}

@keyframes anim2{
    100%{
        color: white;
        rotate: 360deg;
        
        margin-top: 150px;
    }
}

@keyframes anim3{
    100%{
        color: white;
        rotate: 360deg;
        
        margin-top: 150px;
    }
}

@keyframes anim4{
    100%{
        color: white;
        rotate: 360deg;
       
        margin-top: 150px;
    }
}

@keyframes anim5{
    100%{
        color: white;
        rotate: 360deg;
       
        margin-top: 150px;
    }
}

@keyframes anim6{
    100%{
        color: white;
        rotate: 360deg;
        
        margin-top: 150px;
    }
}
body{
    margin: 45px;
    padding: 15px;
}